<div class="container" [hidden]="submitted">
    <h1>Créer Alert</h1>
    <form #alertForm="ngForm" (ngSubmit)="onSubmit()">
      {{registerData}}
      <div class="form-group">
        <label for="descA">Name of alert</label>
        <input type="text" class="form-control" id="descA"
         required [(ngModel)]="model.descA" name="descA">
        TODO: remove this: {{model.descA}}
      </div>
   <div class="form-group ">
     <div class="form-inline">
      <div class="form-group">
          <label for="descI"> Instance de l'alert</label>
          <select class="form-control" id="descI" name="descI" [(ngModel)]="model.descI">
            <option *ngFor="let instance of instances" [value]="instance.descI" >{{instance.descI}}</option>
          </select>
      </div>   
       <div class="btn-group">
            <button  type="button" class="btn btn-default" 
                     (click)="openCustom()">Nouvelle Instance</button>          
       </div>
     </div> 
   </div>

      <div class="form-group">
        <label for="optKeywords"> Mots cles Optionnels</label>
        <input type="text" class="form-control" id="optKeywords" name="optKeywords"
        [(ngModel)]="model.optKeywords">
      </div>
      <div class="form-group">
        <label for="forbidenKeywords"> Mots cles Interdites</label>
        <input type="text" class="form-control" id="forbidenKeywords" name="forbidenKeywords"
        [(ngModel)]="model.forbidenKeywords">
      </div>
      <div class="form-group">
        <label for="srcAutorises"> Sources Autorisées </label>
        <input type="text" class="form-control" id="srcAutorises" name="srcAutorises"
        [(ngModel)]="model.srcAutorises">
      </div>
       <div class="form-group">
        <label for="srcBloques"> Sources bloquées </label>
        <input type="text" class="form-control" id="srcBloques" name="srcBloques"
        [(ngModel)]="model.srcBloques">
      </div>
      <div class="form-group">
        <label for="langue"> Langue  </label>
        <input type="text" class="form-control" id="langue" name="langue"
        [(ngModel)]="model.langue">
      </div>

      <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

<div [hidden]="!submitted">
  <h2>You submitted the following:</h2>
  <div class="row">
    <div class="col-xs-3">Name of Alert</div>
    <div class="col-xs-9  pull-left">{{ model.descA }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Mots cle Optionnels</div>
    <div class="col-xs-9 pull-left">{{ model.optKeywords }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Mots cle Interdites</div>
    <div class="col-xs-9 pull-left">{{ model.forbidenKeywords }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Sources Autorisées</div>
    <div class="col-xs-9 pull-left">{{ model.srcAutorises }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3"> Source bloques</div>
    <div class="col-xs-9 pull-left">{{ model.srcBloques }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3"> Langue </div>
    <div class="col-xs-9 pull-left">{{ model.langue }}</div>
  </div>
  <br>
  <button class="btn btn-primary" (click)="submitted=false">Edit</button>
</div>


