<div class="form-inline">
  <menu (myEvent) = "anotherfunct($event)"></menu>
</div>

<div class="panel panel-info" [hidden]="!selectedAlert">
    <div class="panel-heading">
      <h2 class="panel-title">My Mentions</h2>
    </div>
  <div class="panel-body">
    <ul class="mentions">
    <li *ngFor="let mention of mentions" [class.selected]="mention === selectedMention"
      (click)="onSelect(mention)">
      <span class="badge">{{mention.ids}}</span> {{mention.link}} {{mention.text}}
      </li>
    </ul>   
    <div *ngIf="selectedMention">
      <h2>
        {{selectedMention.text | uppercase}} is my Mention
      </h2>
      <button (click)="gotoDetail()">View Details</button>
    </div>
  </div>
</div>



